# ---- Python-specific ignores ----
__pycache__/
*.pyc
*.pyd
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ---- Virtual environments ----
venv/
env/
.env
# ---- OS-specific files ----
.DS_Store

# ---- Logs ----
*.log

# ---- Cache and pickled files ----
*.pkl
*.joblib

# ---- Docs folder ----
docs/
qdrant_data/
postgres_data/
pgadmin_data/
# ---- Chroma DB folder ----
chroma_db_bilingual/

# ---- IDE config ----
.vscode/
.idea/
node_modules/

#cache
uwi_gpt/rag_api/docs_state.json
uwi_gpt/rag_api/course_state.json



#frontend bun
bun.lock
bun.lockb

