# Basic utilities and types
numpy
nltk
pydantic
pandas
torch


# PDF extraction
pdfplumber
PyMuPDF

# Document processing and vectorization
rank_bm25

# Transformer models and tokenizers
transformers
sentence-transformers

# LangChain-related packages
langchain
langchain-community
langchain-chroma
camelot
qdrant-client